#textdomain wesnoth-merfolk_campaign

[scenario]
    id=03_the_siege_of_jotha
    name= _ "The Siege of Jotha"
    map_file=03_the_siege_of_jotha.map
    next_scenario=null
    victory_when_enemies_defeated=yes


    # Turn limits not set in stone
    {TURNS 50 45 40}

    # Streamlined schedule
    {DEFAULT_SCHEDULE}

    # Streamlined music selection
    {SCENARIO_MUSIC "battle-epic.ogg"}
    {EXTRA_SCENARIO_MUSIC "casualties_of_war.ogg"}
    {EXTRA_SCENARIO_MUSIC "legends_of_the_north.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}


    [side]
        side=1
        controller=human
        user_team_name= _ "Forces of Kai Danielle"
		team_name=defenders
		# Gold and income adjustments not set in stone
        {GOLD 90 70 50}
        {INCOME 3 2 1}
        recruit="Mermaid Initiate, Merman Fighter, Merman Hunter"
        [leader]
            id=Kai
            name= _ "Kai Danielle"
            type=Mermaid Initiate
            unrenameable=yes
            canrecruit=yes
            max_hitpoints=32
			facing=nw
            [modifications]
                {TRAIT_FEARLESS}
            [/modifications]
			[abilities]
				{ABILITY_LEADERSHIP}
			[/abilities]
        [/leader]
    [/side]


    [side]
        side=2
        controller=ai
        user_team_name= _ "Soldiers of Kai Krellis"
		team_name=defenders
        canrecruit=yes
        no_leader=no
	[leader]
            id=Krellis
            name= _ "Kai Krellis"
		
		# Added 'Warrior King' custom unit, TODO need to implement
            type=Merman Warrior King
            canrecruit=yes
         	   facing=nw
        [/leader]
    [/side]


    [side]
        side=3
        controller=ai
        hidden=yes
        user_team_name= _ "Forces of First General"
		team_name=defenders
        canrecruit=no
        no_leader=yes
	[leader]
            # TODO - Use campaign consistant naming convention
            id=General
            name= _ "General Aresius"
            type=Merman Javelineer
            canrecruit=yes
                   facing=nw
        [/leader]
    [/side]


	[side]
        side=4
        controller=ai
        hidden=yes
        user_team_name= _ "Naga warband"
        team_name=attackers
        canrecruit=yes
        [leader]
            id=Warlord
            name= _ "Naga Warlord"
            type=Naga Zephyr
	        profile="portraits/nagas/dirkfang.png"
            facing=nw
        [/leader]
    [/side]


	[side]
        side=5
        controller=ai
        user_team_name= _ "place_holder"
        team_name=attackers
        canrecruit=yes

        [leader]
            id=Lord
            name= _ "Naga Lord"
            type=Naga High Guard
            facing=nw
        [/leader]

	[/side]
	

    [event]
        name=prestart
        
        # TODO - Make this cleaner.  Breaks when combined
        [hide_unit]
            id="Lord"
        [/hide_unit]

        [hide_unit]
            id="Kai"
        [/hide_unit]

                # Macro is as follows: [AI TYPE] [UNIT TYPE] [SIDE] [X] [Y]
        {GUARD (Dolphin) 2 39 8}
        {GUARD (Dolphin) 2 35 2}
        {GUARD (Dolphin) 2 22 8}
        {GUARD (Dolphin) 2 24 1}
        {GUARD (Great Seahorse) 2 18 19}
        {GUARD (Great Seahorse) 2 46 18}
        {GUARD (Great Seahorse) 2 5 13 }
        {GUARD (Tentacle of the Deep) 2 21 6}
        {GUARD (Tentacle of the Deep) 2 26 13}
        {GUARD (Tentacle of the Deep) 2 34 7}
        {GUARD (Tentacle of the Deep) 2 4 4}
        {GUARD (Tentacle of the Deep) 2 6 4}
        {GUARD (Tentacle of the Deep) 2 5 6}
        {GUARD (Vampire Bat) 2 36 14}
        {GUARD (Stymphalian) 2 40 13}
        {GUARD (Vampire Bat) 2 23 22}
        {GUARD (Stymphalian) 2 17 16}
        {GUARD (Stymphalian) 2 11 18}    
    [/event]



	[event]
    	name=start


	    [message]
            speaker=narrator
            message= _ "Status: Placeholder Dialogue"
        [/message]


        [message]
            speaker=Warlord
            message= _ "Take their keep!"
        [/message]
   

        # Animation for the Naga Lord 
        [move_unit_fake]
            type="Naga High Guard"
            x=39,36
            y=1,3
            side=5
        [/move_unit_fake]

        [unhide_unit]
            id="Lord"
        [/unhide_unit]


        [message]
            speaker=General
            message= _ "Kai Krellis, our hope dims.  Another powerful Naga force has come to reinforce the previous."
        [/message]


        [message]
            speaker=Krellis
            message= _ "We must hold them until relief comes."
        [/message]


        [message]
            speaker=narrator
            message= _ "TODO - Add an animation of fighting between the factions (Naga Lord should only be recruiting at this stage."
        [/message]


        [message]
            speaker=narrator
            message= _ "TODO - Add animation of Kai Danielle showing up"
        [/message]


        # Animation for Kai Danielle
        # TODO - Ensure that her fake unit is the same unit level as the player's Kai Daneielle
        [move_unit_fake]
            type="Mermaid Initiate"
            x=1,3
            y=2,6
            side=1
        [/move_unit_fake]

        [unhide_unit]
            id="Kai"
        [/unhide_unit]


        [message]
            speaker=Krellis
            message= _ "At last, aid has come!"
        [/message]


        [message]
            speaker=Kai
            message= _ "I am with you Kai Krellis"
        [/message]


        [message]
            speaker=Warlord
            message= _ "We have company!  Soldiersss to me."
        [/message]


        [message]
            speaker=Lord
            message= _ "We must swifly defeat thisss new comer."
        [/message]

        {ANIMATED_UNIT 3 (Naga Guard) 28 29 27 30 (generate_name=yes random_traits=yes)}
        {ANIMATED_UNIT 3 (Naga Guard) 26 29 27 30 (generate_name=yes random_traits=yes)}
        {ANIMATED_UNIT 3 (Naga Dirkfang) 25 30 27 30 (generate_name=yes random_traits=yes)}
        {ANIMATED_UNIT 3 (Naga Dirkfang) 29 30 27 30 (generate_name=yes random_traits=yes)}
        {ANIMATED_UNIT 3 (Naga Fighter) 30 30 27 30 (generate_name=yes random_traits=yes)}
        {ANIMATED_UNIT 3 (Naga Guard) 24 30 27 30 (generate_name=yes random_traits=yes)}


    [/event]


    [event]
        name=animation1
        
    [/event]




	    [story]
    	[/story]


[/scenario]
