#textdomain wesnoth-merfolk_campaign

[scenario]
    id=03_the_siege_of_jotha
    name= _ "The Siege of Jotha"
    map_file=03_the_siege_of_jotha.map
    next_scenario=null

    # Turn limits not set in stone
    {TURNS 50 45 40}

    # Streamlined schedule
    {DEFAULT_SCHEDULE}

    # Streamlined music selection
    {SCENARIO_MUSIC "battle-epic.ogg"}
    {EXTRA_SCENARIO_MUSIC "casualties_of_war.ogg"}
    {EXTRA_SCENARIO_MUSIC "legends_of_the_north.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}

    [side]
        side=1
        controller=human
        user_team_name= _ "Forces of Kai Danielle"
		team_name=defenders
		# Gold and income adjustments not set in stone
        {GOLD 90 70 50}
        {INCOME 3 2 1}
        recruit="Mermaid Initiate, Merman Fighter, Merman Hunter"
        [leader]
            id=Kai
            name= _ "Kai Danielle"
            type=Mermaid Initiate
            unrenameable=yes
            canrecruit=yes
            max_hitpoints=32
			facing=nw
            [modifications]
                {TRAIT_FEARLESS}
            [/modifications]
			[abilities]
				{ABILITY_LEADERSHIP}
			[/abilities]
        [/leader]
    [/side]


    [side]
        side=2
        controller=ai
        user_team_name= _ "Soldiers of Kai Krellis"
		team_name=defenders
        canrecruit=yes
        no_leader=no
	[leader]
            id=Krellis
            name= _ "Kai Krellis"
		
		# Added 'Warrior King' custom unit, TODO need to implement
            type=Merman Warrior King
            canrecruit=yes
         	   facing=nw
        [/leader]
    [/side]


    [side]
        side=3
        controller=ai
        hidden=yes
        user_team_name= _ "Forces of First General"
		team_name=defenders
        canrecruit=no
        no_leader=yes
	[leader]
            # TODO - Use campaign consistant naming convention
            id=General
            name= _ "General Aresius"
            type=Merman Javelineer
            canrecruit=yes
                   facing=nw
        [/leader]
    [/side]


	[side]
        side=4
        controller=ai
        hidden=yes
        user_team_name= _ "Naga warband"
        team_name=attackers
        canrecruit=yes
        [leader]
            id=Warlord
            name= _ "Naga Warlord"
            type=Naga Zephyr
	        profile="portraits/nagas/dirkfang.png"
            facing=nw
        [/leader]
    [/side]


	[side]
        side=5
        controller=ai
        hidden=yes
        user_team_name= _ "place_holder"
        team_name=attackers
        canrecruit=yes
        [leader]
            id=Lord
            name= _ "Naga Lord"
            type=Naga High Guard
                   facing=nw
        [/leader]

	[/side]
	



	[event]
    	name=start


	    [message]
            speaker=narrator
            message= _ "Status: Placeholder Dialogue"
        [/message]


        [message]
            speaker=Warlord
            message= _ "Take their keep!"
        [/message]
    

        [message]
            speaker=narrator
            message= _ "Add animation of the Naga Lord showing up in his castle"
        [/message]


        [message]
            speaker=General
            message= _ "Kai Krellis, our hope dims.  Another powerful Naga force has come to reinforce the previous"
        [/message]


        [message]
            speaker=Krellis
            message= _ "We must hold them until relief comes."
        [/message]


        [message]
            speaker=narrator
            message= _ "TODO - Add an animation of fighting between the factions (Naga Lord should only be recruiting at this stage."
        [/message]


        [message]
            speaker=narrator
            message= _ "TODO - Add animation of Kai Danielle showing up"
        [/message]


        [message]
            speaker=Krellis
            message= _ "At last, aid has come!"
        [/message]


        [message]
            speaker=Kai
            message= _ "I am with you Kai Krellis"
        [/message]


        [message]
            speaker=Warlord
            message= _ "We have company!  Soldiersss to me."
        [/message]


        [message]
            speaker=Lord
            message= _ "We must swifly defeat thisss new comer."
        [/message]

    [/event]




	    [story]
    	[/story]

	    [objective]
	    [/objective]

[/scenario]
