#textdomain wesnoth-merfolk_campaign


[scenario]
    name= _ "Sea Serpents"
    map_file=06a_sea_serpents.map

    id=06a_sea_serpents
    next_scenario=null

    {INTRO_AND_SCENARIO_MUSIC null wanderer.ogg}
    #{EXTRA_SCENARIO_MUSIC vengeful.ogg}
    #{EXTRA_SCENARIO_MUSIC transience.ogg}

    {DEFAULT_SCHEDULE_DUSK}

    {TURNS 20 20 20}
    victory_when_enemies_defeated=yes

    [side]
        side=1
        controller=human
        recruit=Merman Hunter,Merman Fighter,Mermaid Initiate
        team_name=good
        user_team_name= _ "Danielle"
        color=red

        {GOLD 300 200 100}
        [leader]
            type=Mermaid Enchantress
            id=Danielle
            name= _ "Danielle"
            facing=e
        [/leader]
    [/side]

    [side]
        side=2
        controller=ai
        team_name=good
        canrecruit=no
        user_team_name= _ "Fleet of Mirion"
        color=blue

        {GOLD 50 90 110}
        # TODO - Add a random name generator (too much?)
        # Player 2 leader - custom thunderguard galleon
        [leader]
            type=Thunder Galleon
            id=Flagship
            name= _ "Flaship Calder"
            facing=n
            [modifications]
                {TRAIT_FEARLESS}
            [/modifications]
        [/leader]

    [/side]
    [side]
        side=3
        controller=ai
        # TODO - Add a custom level 1 water serpent with only the fang attack
        # TODO - Add a custom level 2 water serpent with a fang and spit attack (use venomspray.png)
        recruit=Water Serpent
        team_name=enemy
        user_team_name= _ "Sea Serpents"
        color=green

        {GOLD 50 90 110}
        type=Sea Serpent
        id=Empress
        name= _ "Sea Empress"
    [/side]

    [event]
        name=prestart
        {GUARD (Thunder Galleon) 1 2 2}

        [unit]
            type=Duelist
            id=Captain
            name= _ "Captain Mirion"
            side=2
            x,y=9,7
            facing=s # TODO - Make direction work with dialogue Danielle
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_FEARLESS}
            [/modifications]
        [/unit]

		[objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat the enemy leader"
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    [story]
        [part]
            story= _ "As Danielle and her soldiers journey further along the coast, they begin to encounter more and more Naga opposition.  Some a senseless mob of ill equiped soldiers, and some elite fighting squads."
        [/part]

        [part]
            story= _ "As they get closer and closer to their distantion, each day started to become a constant struggle to survive against their adversary."
        [/part]

        [part]
            story= _ "With the counsel of her general and advisors, Danielle decides to brave the open sea in travel rather than risk an overwhelming number of foes along the coast."
        [/part]

        [part]
            story= _ "As the party gets speed along a powerful current of water, they approach a volcanic area in the deep ocean.  Straight ahead, in the distance, a ships flag is spotted."
        [/part]
    [/story]


    [event]
    	name=start
    	[message]
            speaker=Captain
            message= _ "Hail Mermaid.  What brings ye to these forsaken waters?"
        [/message]

        [message]
            speaker=Danielle
            message= _ "Naga attacked our homeland, and nearly destroyed our capital a fortnight ago.  We have come to find the source, and destroy it."
        [/message]

        [message]
            speaker=Captain
            message= _ "Aye, I see that your soldiers are veterans of many battles.  My name is Captain Mirion, at your service."
        [/message]

        [message]
            speaker=Danielle
            message= _ "What brings you to these waters which are, as you said, forsaken."
        [/message]

        [message]
            speaker=Captain
            message= _ "We camped here only last night while we search for provisions on the island.  Severale of my other ships are doing likewise on other islands that looked rich in vegetation."
        [/message]

        [message]
            speaker=Captain
            message= _ "As to how we came here, alas for our ill fortune!  My few ships were seperated from the rest of our greater fleet when we ran afoul with a terrible sea storm some weeks ago.  We were bound for Adril, coming from Elensefar, carrying weapons and supplies."
        [/message]

        [message]
            speaker=Captain
            message= _ "If it be the Naga that you seek, I would advise you to go to Elensefar.  The Lord of the city may know something of your quest.  There was rumor when we left that the Lord of Elensefar was concerned about some disturbance with the water and sea life, but that was many weeks ago now."
        [/message]

        [message]
            speaker=Danielle
            message= _ "If the Lord of Elensefar may know something of our quest, we will certainly -"
        [/message]

        [sound]
            name=water-blast.wav
            repeat=0
        [/sound]

        [delay]
            time=400
        [/delay]

        [sound]
            name=lich-die.ogg
            repeat=0
        [/sound]

        [music]
            name=suspense.ogg
            immediate=yes
        [/music]


        [message]
            speaker=Empress
            # TODO - Add sound and shake affects
            message= _ "You dare to disturb my children?!"
        [/message]

        # 
       # [sound]
            #name=ambient/wardrums.ogg
        #    repeat=2
        #[/sound]

        [message]
            speaker=Captain
            message= _ "Now here is an ill fate.  A great sea serpent over yonder has taken notice to us."
        [/message]

        [message]
            speaker=Danielle
            message= _ "A great sea serpent?!  In our peoples myth and legend it is recorded that sea serpents drove our ancestors out of their ancient ocean cities, forcing them to forge their empire anew along the coast.  Only in myth did I think such terrible creatures existed."
        [/message]

        [message]
            speaker=Captain
            message= _ "I am afraid they are very real.  There is nothing else for it, we must kill this foe, or else be eaten by it.  I will call for the rest of my fleet to the battle."
        [/message]

        # Remove wardrums.ogg with setting its sound to 0 - will this work?

        [sound]
            name=horn-signals/horn-8.ogg
        [/sound]

        [message]
            speaker=Captain
            message= _ "My fleet is scattered abroad, and will likely come to the summons slowly and one or two at a time.  There is nothing else for it I am afraid.  The flagship Calder stands ready."
        [/message]

        [music]
            name=vengeful.ogg
            append=yes
        [/music]


    [/event]
   # {VIU_LAST_BREATH Danielle (_ "Oh, I die... I failed as a Kai to all of the mermen.")}

    # Events to be added:
    # Move animation for Danielle and the Fleet
    # Thunderguard Galleon fires for the first time - dialogue
    
    # Ship controlled random spawning mechanic
    # Ship death animation - Replace ship death tile with "shipwreck-1.png" or "wreck-3.png" overlay randomly
    # On fresh ship spawn, play sound "horn-signals/horn-1.ogg"

[/scenario]
