#textdomain wesnoth-merfolk_campaign


[scenario]
    name= _ "Infested Waters"
    map_file=06b_infested_waters.map

    id=06b_infested_waters
    next_scenario=07_the_prince

    {INTRO_AND_SCENARIO_MUSIC frantic.ogg loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC transience.ogg}

    {DEFAULT_SCHEDULE_DUSK}

    [story]
        [part]
            story= _ "Story here"
        [/part]
    [/story]

    {TURNS 60 45 35}
    victory_when_enemies_defeated=no

    ## -------------------------------- SIDES ------------------------------------

    [side]
        side=1
        controller=human
        recruit=Merman Hunter,Merman Fighter,Mermaid Initiate
        team_name=good
        user_team_name= _ "Danielle"
        color=red

        {GOLD 175 150 100}
        type=Enchantress Queen
        id=Danielle
        name= _ "Danielle"
    [/side]
    [side]
        side=2
        controller=ai
        team_name=enemy
        user_team_name= _ "Naga"
        color=blue
#ifndef HARD
        recruit=Naga Fighter
#endif
#ifdef HARD
		recruit=Naga Dirkfang,Naga Fighter,Naga Guard
#endif
        gold=0
        income=-3
        scroll_to_leader=no
#ifndef HARD
        type=Naga Shield Guard
#endif
#ifdef HARD
        type=Naga High Guard
#endif
        id=Naga_1
        name= _ "Jesstir"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
    [/side]
    [side]
        side=3
        controller=ai
        team_name=enemy
        user_team_name= _ "Naga"
        color=green

#ifndef HARD
        recruit=Naga Dirkfang
#endif
#ifdef HARD
		recruit=Naga Dirkfang,Naga Fighter,Naga Guard
#endif
        gold=0
        income=-4
        scroll_to_leader=no
#ifndef HARD
        type=Naga Warrior
#endif
#ifdef HARD
        type=Naga Myrmidon
#endif
        id=Naga_2
        name= _ "Ysno"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_QUICK}
        [/modifications]
    [/side]
    [side]
        side=4
        controller=ai
        team_name=enemy
        user_team_name= _ "Naga"
        color=black
#ifndef HARD
        recruit=Naga Dirkfang
#endif
#ifdef HARD
		recruit=Naga Dirkfang,Naga Fighter,Naga Guard
#endif
        gold=0
        income=-3
        scroll_to_leader=no
#ifndef HARD
        type=Naga Shield Guard
#endif
#ifdef HARD
        type=Naga High Guard
#endif
        id=Naga_3
        name= _ "Shilp"
        [modifications]
            {TRAIT_QUICK}
            {TRAIT_FEARLESS}
        [/modifications]
    [/side]
    [side]
        side=5
        controller=ai
        recruit=Naga Dirkfang,Naga Fighter,Naga Guard
        team_name=enemy
        user_team_name= _ "Naga"
        color=brightgreen
        gold=0
        income=-3
        scroll_to_leader=no
        type=Naga Ringcaster
        id=Naga_4
        name= _ "Arregu"
        [modifications]
            {TRAIT_DEXTROUS}
            {TRAIT_RESILIENT}
        [/modifications]
    [/side]
    [side]
        side=6
        controller=ai
        recruit=Naga Dirkfang,Naga Fighter,Naga Guard
        team_name=enemy
        user_team_name= _ "Naga"
        color=lightblue
        gold=0
        income=-2
        scroll_to_leader=no
        type=Naga Warrior
        id=Naga_5
        name= _ "Munnai"
        [modifications]
            {TRAIT_DEXTROUS}
            {TRAIT_QUICK}
        [/modifications]
    [/side]
    [side]
        side=7
        controller=ai
#ifndef HARD
        recruit=Naga Dirkfang,Naga Fighter,Naga Guard
#endif
#ifdef HARD
        recruit=Naga Warrior,Naga Ringcaster,Naga Guard,Naga Dirkfang,Naga Fighter
#endif
        team_name=enemy
        user_team_name= _ "Naga"
        color=brown
        gold=0
        income=-2
        scroll_to_leader=no
    [/side]

    {STARTING_VILLAGES_AREA 2 27 19 4}
    {STARTING_VILLAGES_AREA 3 27 6 6}
    {STARTING_VILLAGES_AREA 4 2 21 4}
    {STARTING_VILLAGES_AREA 5 2 36 4}
    {STARTING_VILLAGES_AREA 7 24 52 6}

    ## ------------------------------- Prestart and death events -----------------------------

    [event]
        name=prestart
		[objectives]
            side=1
            [objective]
                condition=win
                description= _ "Danielle takes a keep"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Danielle"
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]

        ## Leaders are passive at first

        [modify_side]
        	side=2-7
        	[ai]
        		passive_leader=yes
        	[/ai]
        [/modify_side]

        {RECALL_KAI_RETINUE}

        {VARIABLE firstwave no}
        {VARIABLE secondwave no}
        {VARIABLE lastwave no}
        {VARIABLE leaderskilled 0}
    [/event]
    [event]
    	name=start
    	[message]
            speaker=Danielle
            message = _ "Seems like they have not noticed us yet, lets take a keep!"
        [/message]
    [/event]
    {VIU_LAST_BREATH Danielle (_ "Oh, I die... I failed as a Kai to all of the mermen.")}

    ## ---------------------------------------------------- Scenario Events -----------------------------------------------------------------

    ## Events that trigger the first wave of naga to get mad (Naga_1, Naga_2 and Naga_3)
    [event]
    	name=attack
    	# First time only is set to yes on purpose
    	[filter]
    		side=1
    		[filter_second]
    			id=Naga_1,Naga_2,Naga_3
    		[/filter_second]
    	[/filter]	
    	[if]
    		[variable]
    			name=firstwave
    			equals=no
    		[/variable]
    		[then]
    			[message]
    				speaker=second_unit
    				message= _ "Merfolk are attacking me! Alert every able body, to arms!"
    			[/message]
    			[fire_event]
    				name=activate_first_wave
    			[/fire_event]
    		[/then]
    	[/if]
    [/event]
    [event]
    	name=moveto
    	[filter]
    		side=1
    		x=0-30
    		y=12-60
    	[/filter]
    	[if]
    		[variable]
    			name=firstwave
    			equals=no
    		[/variable]
    		[then]
    			[message]
    				speaker=Naga_3
    				message= _ "Ey, what are merfolk doing over here? Alert the guard stations, hunt them down!"
    			[/message]
    			[fire_event]
    				name=activate_first_wave
    			[/fire_event]
    		[/then]
    	[/if]
    [/event]

    [event]
    	name=activate_first_wave
    	{VARIABLE firstwave yes}
    	[modify_side]
    		side=2-4
    		[ai]
    			passive_leader=no
    		[/ai]
    		income={ON_DIFFICULTY 3 5 10}
    		scroll_to_leader=yes
    	[/modify_side]
    	[gold]
    		amount={ON_DIFFICULTY 50 75 100}
    		side=2,3,4
    	[/gold]
    	[objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat the menacing naga force"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Danielle"
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    ## Events that trigger the second wave of naga to get mad (Naga_4, Naga_5)

    [event]
    	name=die
    	first_time_only=no
    	[filter]
    		id=Naga_1,Naga_2,Naga_3,Naga_4,Naga_5
    	[/filter]
    	[set_variable]
    		name=leaderskilled
    		add=1
    	[/set_variable]
    	[if]
    		[variable]
    			name=secondwave
    			equals=no
    		[/variable]
    		[then]
    			[if]
    				[variable]
    					name=leaderskilled
    					greater_than_equal_to=3
    				[/variable]
    				[then]
    					[fire_event]
    						name=activate_second_wave
    					[/fire_event]
    					[unit]
    						side=5
    						type={ON_DIFFICULTY (Naga Fighter) (Naga Dirkfang) (Naga Warrior)}
    						id=Naga_support
    						x,y=2,35
    					[/unit]
    					[store_unit]
    						[filter]
    							z,y=2,35
    						[/filter]
    						variable=tempvar
    					[/store_unit]
    					[message]
    						speaker=Naga_4
    						message= _ "Hey $tempvar.name have you heard anything?"
    					[/message]
    					[message]
    						speaker=Naga_support
    						message= _ "Yes, those are screams comming from the northern guards, should we tell our leader to call to arms?"
    					[/message]
    					[message]
    						speaker=Naga_5
    						message= _ "No, do not disturb Wsir, we can deal with them."
    					[/message]
    				[/then]
    			[/if]
    		[/then]
    	[/if]
    [/event]
    [event]
    	name=moveto
    	[filter]
    		side=1
    		x=0-30
    		y=29-60
    	[/filter]
    	[if]
    		[variable]
    			name=secondwavewave
    			equals=no
    		[/variable]
    		[then]
    			[message]
    				speaker=Naga_4
    				message= _ "Hey who are you, where are you going?"
    			[/message]
    			[message]
    				speaker=Danielle
    				message= _ "<i> whispering to her retinue </i> Oh no we have been caught sneaking by!"
    				[option]
    					label= _ "We were just passing by, I know we have been enemies for a long time but we were just going south. Could some gold be an agreement to us passing by?"
    					[command]
    						[message]
    							speaker=narrator
    							message= _ "Bubbles 2 seems to be irritated by your words"
    						[/message]
    						[message]
    							speaker=Naga_4
    							message= _ "No gold can buy us, I will defend this passageway north for Naga with my life if that is necessary. Naga, to arms!"
    						[/message]
    					[/command]
    				[/option]
    				[option]
    					label= _ "We have come to make an offensive on your people before you destroy our way of living!"
    					[command]
    						[message]
    							speaker=Naga_5
    							message=_ "Why do you think our goal is to launch an offensive to you? Ugh merfolk always thinking about theirselves. Naga, to arms!"
    						[/message]
    					[/command]
    				[/option]
    			[/message]
    			[message]
    				speaker=Naga_4
    				message= _ "Should we tell Wsir we have company?"
    			[/message]
    			[message]
    				speaker=Naga_5
    				message= _ "No, do not disturb him, we can deal with them."
    			[/message]
    			[fire_event]
    				name=activate_second_wave
    			[/fire_event]
    		[/then]
    	[/if]
    	[fire_event]
    		name=activate_second_wave
    	[/fire_event]
    [/event]

    [event]
    	name=activate_second_wave
    	{VARIABLE secondwave yes}
    	[modify_side]
    		side=5,6
    		[ai]
    			passive_leader=no
    		[/ai]
    		income={ON_DIFFICULTY 3 5 10}
    		scroll_to_leader=yes
    	[/modify_side]
    	[gold]
    		amount={ON_DIFFICULTY 50 75 100}
    		side=5,6
    	[/gold]
    [/event]

    ## Events that activate Wsir

    [event]
    	name=new turn
    	first_time_only=no
    	[if]
    		[variable]
    			name=lastwave
    			equals=no
    		[/variable]
    		[then]
    			[if]
    				[variable]
    					name=leaderskilled
#ifndef HARD
    					greater_than_equal_to=5
#endif
#ifdef HARD
						greater_than_equal_to=4
#endif
    				[/variable]
    				[then]
    					[fire_event]
    						name=activate_last_wave
    					[/fire_event]
    				[/then]
    			[/if]
    		[/then]
    	[/if]
    [/event]

    [event]
    	name=moveto
    	[filter]
    		side=1
    		x=0-30
    		y=44-60
    	[/filter]
    	[if]
    		[variable]
    			name=lastwave
    			equals=no
    		[/variable]
    		[then]
    			[move_unit_fake]	
    				side=7
    				type=Naga Warrior
    				x=24,21
    				y=52,49
    				force_scroll=yes
    			[/move_unit_fake]
    			[unit]
    				side=7
    				type=Naga Warrior
    				x,y=21,49
    				id=Naga_support_2
    			[/unit]
    			[message]
    				speaker=Naga_support_2
    				message= _ "Merfolk are coming! I have to advert Wsir."
    			[/message]
    			[move_unit]	
    				side=7
    				id=Naga_support_2
    				x=24
    				y=52
    			[/move_unit]
    			[kill]
    				id=Naga_support_2
    				animate=no
    			[/kill]
    			[fire_event]
    				name=activate_last_wave
    			[/fire_event]
    		[/then]
    	[/if]
    [/event]

    [event]
    	name=activate_last_wave
    	{VARIABLE lastwave yes}
    	[unit]
    		side=7
    		canrecruit=yes
#ifndef HARD
    		type=Naga Ringcaster
#endif
#ifdef HARD
			type=Naga Zephyr
#endif
        	id=Naga_6
        	name= _ "Wsir"
        	x,y=24,52
        	[modifications]
            	{TRAIT_AGED}
            	{TRAIT_INTELLIGENT}
            	{ABILITY_LEADERSHIP}
        	[/modifications]
    	[/unit]
    	[message]
    		speaker=Naga_6
    		message= _ "Looks like we have a battle on hand huh? I was bored keeping an eye on this passageway. Finally I will see some action."
    	[/message]

    	## Giving Wsir a recall list with the random XP unit generator used in S07 depending on diff

    	{UNIT_TO_RECALL_LIST 7 (Naga Ophidian) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Ringcaster) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Warrior) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Shield Guard) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Dirkfang) Naga_to_recall_1 () 16}
    	{UNIT_TO_RECALL_LIST 7 (Naga Guard) Naga_to_recall_1 () 16}
    	{UNIT_TO_RECALL_LIST 7 (Naga Warrior) Naga_to_recall_1 () 16}
    	{UNIT_TO_RECALL_LIST 7 (Naga Warrior) Naga_to_recall_1 () 16}
#ifdef NORMAL
		{UNIT_TO_RECALL_LIST 7 (Naga High Guard) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Myrmidon) Naga_to_recall_1 () 32}
#endif
#ifdef HARD
		{UNIT_TO_RECALL_LIST 7 (Naga Zephyr) Naga_to_recall_1 () 32}
    	{UNIT_TO_RECALL_LIST 7 (Naga Sicarius) Naga_to_recall_1 () 32}
#endif
    	[modify_side]
    		side=7
    		income={ON_DIFFICULTY 10 12 14}
    		scroll_to_leader=yes
    	[/modify_side]
    	[gold]
    		amount={ON_DIFFICULTY 200 250 300}
    		side=7
    	[/gold]
    	[objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat Wsir"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Danielle"
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    ## ------------------------------------------- W/L events ------------------------------------

    [event]
    	name=victory
    	{CLEAR_VARIABLE firstwave}
        {CLEAR_VARIABLE secondwave}
        {CLEAR_VARIABLE lastwave}
        {CLEAR_VARIABLE leaderskilled}
    [/event]

    [event]
    	name=last_breath
    	[filter]
    		id=Naga_6
    	[/filter]
    	[message]
    		speaker=Naga_6
    		message= _ "Ughh I die"
    	[/message]
    	[message]
    		speaker=Danielle
    		message= _ "Lets go ahead guys"
    	[/message]
    	[endlevel]
    		result=victory
    	[/endlevel]
    [/event]
[/scenario]
