#textdomain wesnoth-merfolk_campaign

# Macro for when the party is in the Dead water part of the map
#define STORYTXT_BACKGROUND_BIGMAP_MC_DWMAP
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=yes
        keep_aspect_ratio=no
    [/background_layer]
    [background_layer]
        image=data/campaigns/Dead_Water/images/maps/dw.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
    [background_layer]
        image=story/MC_archipelago_overlay.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=no
    [/background_layer]
#enddef

# Macro for when the party is in wesnoth
#define STORYTXT_BACKGROUND_BIGMAP_MC_WESNOTHMAP
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=yes
        keep_aspect_ratio=no
    [/background_layer]
    [background_layer]
        image=data/campaigns/Dead_Water/images/maps/dw.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

# Generic macro for showing storytext background images
#define STORYTXT_BACKGROUND IMAGE
    [background_layer]
        image=story/{IMAGE}
        scale=no
    [/background_layer]
#enddef

# Generic macro for showing portraits
#define STORYTXT_PORTRAIT IMAGE X Y
    [image]
        file=portraits/{IMAGE}
        centered=yes
        scale=yes
        x,y={X},{Y}
    [/image]
#enddef

#define MC_TRACK_DW STAGE
    [story]
        [part]
            show_title=yes
            {STORYTXT_BACKGROUND_BIGMAP_MC_DWMAP}
            {STAGE}
        [/part]
    [/story]
#enddef

#undef NEW_JOURNEY

#define NEW_JOURNEY X Y
    [image]
        x,y={X},{Y}
        file=misc/new-journey.png
        delay=300
        centered=yes
        # resize_with_background=yes TODO: Add resizing to all track macros by undefining and redefining them here.
    [/image]
#enddef

# This macro is not used right now.
#define NEW_JOURNEY_BLUE X Y 
    [image]
        x,y={X},{Y}
        file=misc/new-journey-blue.png 
        delay=300
        centered=yes
    [/image]
#enddef

    # ------ LOCATIONS ---------

    # Jotha: 600 740
    # Tirigaz: 590 280
    # Bilheld: 235 350
    # Shimmering Isle: 100-200 600-700

#define JOURNEY_01_MC
    {NEW_BATTLE 140 695}
#enddef

#define JOURNEY_02_MC
    {OLD_BATTLE 140 695}
    {NEW_JOURNEY 155 690}
    {NEW_JOURNEY 170 680}
    {NEW_BATTLE 180 660}
#enddef

#define JOURNEY_03_MC
    {OLD_BATTLE 140 695}
    {OLD_JOURNEY 155 690}
    {OLD_JOURNEY 170 680}
    {OLD_BATTLE 180 660}
    {NEW_JOURNEY 160 654}
    {NEW_REST 150 650}
#enddef

#define JOURNEY_04_MC
    {OLD_BATTLE 140 695}
    {OLD_JOURNEY 155 690}
    {OLD_JOURNEY 170 680}
    {OLD_BATTLE 180 660}
    {OLD_JOURNEY 160 654}
    {OLD_REST 150 650}
    ## ADD TRACK
    {NEW_BATTLE 600 740}
#enddef
