#textdomain wesnoth-merfolk_campaign

## ----- Camp setting macro, sound may be replaced or made variable ------
#define SET_CAMP X Y TYPE SIDE DELAY RADIUS 
    [sound]
        name=club.ogg
        repeat=0
    [/sound]
    [terrain]
        x,y={X},{Y}
        radius={RADIUS}
        terrain={TYPE}
    [/terrain]
    [delay]
        time={DELAY}
    [/delay]
    [redraw]
        side={SIDE}
    [/redraw]
#enddef

## ---------- S12 Macro ----------
#define MOVE_GALLEON X Y ID TURN 
    [event]
        name=turn {TURN}
        [move_unit]
            id={ID}
            to_x={X}
            to_y={Y}
        [/move_unit]
        {CLEAR_FOG {X} {Y} 7}
    [/event]
#enddef

## ---------- Easy moveto gold events for QoL ----------
#define MOVETO_GOLD_EVENT X Y SIDE AMOUNT 
    [event]
        name=moveto
        first_time_only=yes
        [filter]
            side={SIDE}
            x={X}
            y={Y}
        [/filter]
        [gold]
            side={SIDE}
            amount={AMOUNT}
        [/gold]
        [message]
            speaker=unit
            message= _ "There were {AMOUNT} pieces of gold here!."
        [/message]
    [/event]
#enddef
## ---------- Very Important Unit Death events macroed for QoL ----------
#define VIU_LAST_BREATH UNIT TEXT_STRING 
    [event]
        name=last breath
        [filter]
            id={UNIT}
        [/filter]
        [message]
            speaker={UNIT}
            message={TEXT_STRING}
        [/message]
    [/event]
#enddef

## ---------- Fog lifting macro ----------
#define CLEAR_FOG X Y RADIUS 
    [lift_fog]
        [filter_side]
            side=1
        [/filter_side]
        x={X}
        y={Y}
        radius={RADIUS}
    [/lift_fog]
#enddef
